@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto:wght@300&display=swap');
 body {
  background-color:black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  font-size: 17px;
} 

#introduction {
  text-align: center;
}

.banner {
  background-size: cover;
  padding: 150px 0;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
}

.banner p {
  display: block;
  font-size: 20px;
  color: white;
  opacity: .7;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  max-width: 50%;
}


p {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  max-width: 50%;
  font-size: 20px;
}

 h1 {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: lighter;
} 


.img-circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
} 

h2 {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-weight: lighter;
  margin: auto;
} 


 .container {
    width: 700px;
    margin: 40px auto;
  }  


 @media (max-width: 768px) {
  .container {
    width: 500px;
    margin: 40px auto;
  }
} 

  @media (max-width: 540px) {
  .container {
    width: 300px;
    margin: 40px auto;
  }
} 

.about-me{
  text-align: center;
}

.footer{
  background-color: black;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
  border-radius: 3px;
  margin: 20px 0px;
}  

 li {
  display: inline-block;
  list-style: none;
  font-size: 40px;
  padding: 0 10px;
} 

 ul {
  padding-left: 0px;
} 

 li > a > i {
  color:white;
}  
li > a > i:hover {
  color: gray;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

/* // Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
} */
 .card-category {
   padding: 100px;
   background-size: cover;
 }
 /* .card-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
 } */

 .project-title {
   text-align: center;
   margin-bottom: 20px;
 }

 .todo {
   justify-content: center;
 }

 .skills-list {
   color: white;
   font-family: 'Courier New', Courier, monospace;
   text-align: center;
   margin: 40px;
   margin-bottom: 200px;
 }

 .skills-list li {
   font-size: 20px;
 }

 .card-category:hover {
   background-color: white;
   opacity: 80%;
 }

 .card-info {
   text-align: justify;
   max-width: 80%;
   font-size: 16px;
 }